<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tfsNotificationRelay" type="DevCore.TfsNotificationRelay.Configuration.TfsNotificationRelaySection, DevCore.TfsNotificationRelay" requirePermission="false" />
  </configSections>
  <tfsNotificationRelay xmlns="http://tempuri.org/TfsNotificationRelaySection.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="TfsNotificationRelay.xsd">
    <!--
      If identifyForcePush is set, the entire graph might be traversed while checking ancestry. 
      If you have a huge repository and are experiencing performance issues, disable identifyForcePush.
      -->
    <settings
      logfile=""
      stripUserDomain="true"
      commentMaxLength="72"
      maxLines="10"
      hashLength="7"
      identifyForcePush="true"
        />
    <bots>
      <!--
        Multiple bots can be added here, just make sure they have a unique id.
        -->
      <bot id="slack" type="DevCore.TfsNotificationRelay.Slack.SlackNotifier, DevCore.TfsNotificationRelay.Slack" textId="slacktext">
        <botSettings>
          <add name="webhookUrl" value="someTestWebhookUrl" />
          <add name="channels" value="#general, #b" />
          <!-- one or many comma-separated channels -->
          <add name="username" value="tfsbot" />
          <add name="iconEmoji" value="testEmoji" />
          <add name="iconUrl" value="https://raw.githubusercontent.com/kria/TfsNotificationRelay/master/tfsicon.png" />
          <add name="standardColor" value="#68217a" />
          <add name="successColor" value="#1cb841" />
          <add name="errorColor" value="#ca3c3c" />
        </botSettings>
        <eventRules>
          <!--
            Multiple event rules can be added here. 
            The notify attribute of the first (top to bottom) rule that matches, will determine whether a notification is sent or not.
            If no rule matches, no notification will be sent.
            The events attribute takes a comma-separated list of: 
            
            None, GitPush, BuildSucceeded, BuildFailed, BuildQualityChanged, ProjectCreated, ProjectDeleted, Checkin, 
            WorkItemStateChange, WorkItemAssignmentChange, PullRequestCreated, PullRequestStatusUpdate, PullRequestReviewerVote, All
            
            The teamProjectCollection, teamProject, gitRepository and buildDefinition attributes take regex patterns. 
            -->
          <rule events="All" notify="true" teamProjectCollection=".*" teamProject=".*" gitRepository=".*" buildDefinition=".*" />
        </eventRules>
      </bot>
    </bots>
    <texts>
      <text id="slacktext"
        pushFormat="pushFormat"
        pushed="pushed"
        forcePushed="forcePushed"
        commit="commit"
        refPointer="refPointer"
        deleted="deleted"
        commitFormat="commitFormat"
        linesSupressedFormat="linesSupressedFormat"
        dateTimeFormat="dateTimeFormat"
        timeSpanFormat="timeSpanFormat"
        buildFormat="buildFormat"
        buildQualityChangedFormat="buildQualityChangedFormat"
        buildQualityNotSet="buildQualityNotSet"
        projectCreatedFormat="projectCreatedFormat"
        projectDeletedFormat="projectDeletedFormat"
        checkinFormat="checkinFormat"
        projectLinkFormat="projectLinkFormat"
        changeCountAddFormat="changeCountAddFormat"
        changeCountDeleteFormat="changeCountDeleteFormat"
        changeCountEditFormat="changeCountEditFormat"
        changeCountRenameFormat="changeCountRenameFOrmat"
        changeCountSourceRenameFormat="changeCountSourceRenameFormat"
        changeCountUnknownFormat="changeCountUnknownFormat"
        workItemchangedFormat="workItemChangedFormat"
        pullRequestCreatedFormat="pullRequestCreatedFormat"
        pullRequestStatusUpdateFormat="pullRequestStatusUpdateFormat"
        pullRequestReviewerVoteFormat="pullRequestReviewerVoteFormat"
        updated="updated"
        created="created"
        voteApproved="voteApproved"
        voteRejected="voteRejected"
        voteRescinded="voteRescinded"
        completed="completed"
        abandoned="abandoned"
        reactivated="reactivated"
        state="state"
        assignedTo="assignedTo"
          />
      </texts>
  </tfsNotificationRelay>
</configuration>